*{
  margin: 0;
  padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
#container{
  width: 100vw;
  height: 100vh;
 background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#weather{
  color: white;
  display: flex;
  width: 90%;
  height: 60%;
  font-style: Arial;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgba(255,255,255,0.2);  

}
#contents{
  width: 50%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgba(255,255,255,0.1);
}
#title{
  font-size: 30px;
  color: white;
}
