body {
    background-color: aquamarine;
    text-align: center;
}

h1 {
    text-align: center;
}

svg {
    fill: rgb(38, 109, 152);
}

path {
    stroke: rgb(38, 109, 152);
    stroke-width: 0.5px;
    fill: rgb(149, 225, 211);
}

#tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 20px;
    font: 1em;
    background: hsla(0, 0%, 100%, .8);
    pointer-events: none;
    box-shadow: 0 5px 10px hsla(0, 0%, 0%, .2);
    line-height: 1.5em;
    opacity: 0;
}