#sampleui {
  max-width: 450px;
  margin-left: 5%;
  height: 100%;
}

#sampleposting {
  max-width: 450px;
  text-align: center;
  margin-left: 5%;
}

#userstories {
  margin-left: 5%;
}

form {
  padding: 5px;
}