<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="./">Home</a>
    <a href="./newpoll">New Poll</a>
    <a href="./allpolls">Your polls</a>
    <ul>
        <li>
            <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem ipsum aliquid accusantium quaerat eaque voluptate officia sequi quis modi architecto eius placeat doloribus blanditiis facilis, iure animi earum reprehenderit iusto?</div>
            <div>Numquam ipsa, neque quam itaque eligendi magni. Consectetur maiores minus et saepe debitis enim delectus totam quae corporis culpa, deleniti autem quos at possimus excepturi veniam veritatis sunt. Laudantium, architecto?</div>
            <div>Vitae, blanditiis tempore? Dolorem debitis, est non molestias dolore sunt dolor explicabo saepe, laborum commodi totam quis veniam corporis. Iure atque aliquid quae, quaerat fugiat repellendus possimus? Voluptatem, necessitatibus? Magni.</div>
            <div>Minus vero natus dolore facere perspiciatis, totam laudantium porro at itaque velit, minima, quisquam ut. Cum dignissimos at assumenda inventore, velit repellendus maiores quidem optio in, enim aperiam, totam facilis.</div>
            <div>Tempora debitis incidunt iure exercitationem, iusto architecto, voluptatibus sunt placeat id minus nobis quia. Quibusdam cupiditate, soluta laudantium mollitia, obcaecati laborum labore, molestias repellat recusandae odio laboriosam rem facere
                modi!
            </div>
            <div>Eaque eius aspernatur mollitia magni sit laborum laudantium illum quisquam fugit fugiat placeat, assumenda repellendus, necessitatibus at debitis natus perferendis ut, facere ullam molestias dolores cumque expedita quod! Ea, eligendi.</div>
            <div>Non quis ratione et itaque voluptatem quasi, velit aut ipsa temporibus beatae eligendi possimus nam pariatur aliquid perspiciatis consequuntur quos alias aspernatur magnam sed facere est! Repellat fugit adipisci ab!</div>
            <div>Quisquam molestias cum libero ea eaque odit incidunt quia dolorum earum. Recusandae iusto a, excepturi quo eveniet vero voluptas ea! Eaque excepturi minus deleniti ab libero id, rem provident sit.</div>
            <div>Quaerat tenetur ipsam voluptas quis, accusamus asperiores optio eaque error velit dicta odit hic necessitatibus omnis vero debitis molestiae perspiciatis voluptatibus cumque consequatur. Ratione quos ipsum animi quia minima officia.</div>
            <div>Est exercitationem sit recusandae corrupti facere pariatur quam fugit ab fugiat voluptate incidunt ut quas deleniti, commodi modi laudantium maxime! Magni perspiciatis aut delectus iste voluptatibus rerum veniam in provident.</div>
        </li>
        <li>
            <div>Est debitis fugiat assumenda odit odio deserunt eius modi? Enim, placeat aspernatur saepe ducimus distinctio itaque facilis similique quasi corporis suscipit animi quidem deleniti labore quaerat exercitationem eveniet ad tempore.</div>
            <div>Minima, temporibus voluptatum blanditiis itaque cumque magni nesciunt! Error doloribus ex doloremque id. Quaerat eum recusandae laboriosam veniam maxime, officia ad, doloremque dolorem cum libero possimus distinctio consequatur mollitia ut.
            </div>
            <div>Placeat, quos ex veritatis repudiandae molestiae incidunt quo optio impedit inventore eum, magnam numquam, neque debitis eaque a nemo laborum. Praesentium laborum earum voluptatibus harum quisquam distinctio possimus, repellendus autem.</div>
            <div>Reiciendis alias blanditiis inventore vel rerum, cupiditate repudiandae sapiente quod tenetur odit. Non, autem? Ea eveniet vero rerum debitis, dolore, explicabo optio nam sed vel possimus, veniam aperiam quisquam repellat.</div>
            <div>Cupiditate, numquam, magni consequuntur eligendi fugit doloribus magnam perferendis nostrum, exercitationem recusandae quod nesciunt? Nemo voluptatibus doloribus, numquam fugiat, consequuntur iste vitae sit sapiente obcaecati alias, est ullam
                porro accusantium.</div>
            <div>Incidunt cum illo quidem nihil ratione voluptate perspiciatis aliquid necessitatibus. Porro repudiandae culpa, deleniti delectus cumque aperiam dicta recusandae laboriosam nihil labore pariatur commodi ratione sint vel sequi est cum.</div>
            <div>Voluptatum quisquam possimus numquam! Ullam voluptate quis nihil beatae cumque, ut omnis, dicta, velit unde aspernatur assumenda. Veritatis dicta exercitationem quaerat ullam doloribus, iure fuga ipsam omnis, adipisci quam dignissimos?</div>
            <div>Laudantium necessitatibus perferendis sit ducimus quo, maxime magni hic, qui autem eaque dignissimos alias, aut similique veritatis tempore eius porro? Cumque ad saepe fuga fugit minima consequuntur delectus a sunt.</div>
            <div>Possimus deserunt natus amet velit esse delectus. Repudiandae soluta ab dolor aliquam blanditiis excepturi maxime beatae! Explicabo ab maxime ipsam itaque excepturi distinctio, dolore vel aliquid reiciendis nesciunt ipsa modi.</div>
            <div>Asperiores molestias, deleniti cumque voluptatem nulla sint provident nesciunt possimus impedit voluptatum fugiat eveniet, earum perferendis, eum quas quia. Maxime, impedit? Laborum accusamus similique exercitationem accusantium, repudiandae
                itaque necessitatibus fugit!</div>
        </li>
        <li>
            <div>Aliquid unde incidunt, quidem id enim a quam explicabo possimus dolore voluptate, molestiae, officiis porro eveniet quos eius ex corporis iusto numquam. Maiores labore sunt corrupti hic obcaecati magni nisi.</div>
            <div>Rem laborum, nostrum blanditiis consequatur velit nisi. Accusamus at minima quod voluptas commodi beatae repudiandae voluptatem? Accusantium nobis eos voluptas eveniet nostrum dignissimos amet, harum fuga delectus cum esse reiciendis.</div>
            <div>Facere doloribus ipsa sed corrupti at quas quis repellat, exercitationem iure eum veritatis ipsum, assumenda itaque eos natus accusamus reprehenderit, est soluta impedit neque autem dolor aperiam id. Cumque, maxime.</div>
            <div>Maxime officiis vitae, minima sit facere eos quibusdam voluptates dignissimos labore dolorum delectus vero ipsum, magni et quae dolores sunt ipsa esse nam quis odio cupiditate. Possimus nostrum aperiam vel?</div>
            <div>Dicta, voluptatem! Accusamus porro quia corporis inventore debitis, natus veniam? Dicta numquam sed quo cum maxime harum. Asperiores quibusdam omnis fugiat atque, blanditiis ex voluptatem, nihil ipsam error aut facere!</div>
            <div>Ducimus quae, dicta vitae recusandae natus sapiente obcaecati inventore nisi illum magni! Illum culpa voluptatem tempora, corporis iusto delectus perspiciatis ratione cupiditate a consequatur nam nulla maxime labore! Laboriosam, est!</div>
            <div>Iusto fugit debitis aliquam ipsam necessitatibus suscipit error ut sed atque nam earum minima commodi sequi nulla doloremque, asperiores nesciunt dolores laboriosam perspiciatis quibusdam! Quam dicta ipsa sunt ab ex?</div>
            <div>Doloribus delectus libero fugiat aut nesciunt a inventore quod expedita reprehenderit at tempora necessitatibus earum omnis hic impedit non, nulla asperiores iusto numquam tempore ratione voluptatum praesentium. Commodi, sunt saepe.</div>
            <div>Praesentium optio impedit odit eveniet placeat dicta repudiandae quas quaerat cumque mollitia sit nesciunt ea sed ab, nobis vel labore id doloribus harum dolore earum recusandae maxime nam commodi. Ducimus.</div>
            <div>Vel, quisquam ab nihil fuga velit ea aspernatur corrupti deserunt, unde rem quae veniam numquam quam repellat tempora dolores exercitationem, odio assumenda optio similique laborum libero eius. Aliquid, reiciendis neque.</div>
        </li>
    </ul>
    <script src="reload/reload.js"></script>
</body>

</html>