<a href="./">Home</a>
<a href="./newpoll">New Poll</a>
<a href="./allpolls">Your Polls</a>

<form id="poll" action='/createdpoll'>
    <label>Title:<br><input type="text" name="title"/></label>
    <label>Options (seperated by line):<br><textarea rows="5" cols="50" name="textBody"></textarea></label>
    <input type="submit" value="submit">
</form>
<script src="reload/reload.js"></script>