
rect{
  fill: #afafaf;
}
rect:hover{
  opacity: 0.2;
}
h1{
  text-align: center;
}
svg{
  border: 2px solid black;
}
.container{
  position: relative;
}
.buah{
  display: flex;
  z-index: 100;
}
/* .tooltip {
  position: absolute;
  font-family: sans-serif;
  font-size: 18px;
} */
/* #tooltip{
  width: 100px;
  height: 100px;
  display: fixed;
} */
/* .tooltip {
  background-color: #eaeaea;
  display: none;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 100px;
  height: 70px;
  width: 150px;
  z-index: 1;
  text-align: center;
}
.tooltip .toolbar {
  display: flex;
} */
