<html>
  <head>
    <meta name="description" content="A cool thing made with HyperDev" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Document</title>
  </head>
  <body>
    <div id="container">
      <h3>
        Searching for new images was done from official freecodecamp heroku app <a href="https://imgsearch-fcc.herokuapp.com/api/imgSearch">https://imgsearch-fcc.herokuapp.com/api/imgSearch</a>
      </h3>
      <div id="searchbox">
        <h2>Search for any image by clicking here</h2>
        <input type="text" id="inputbox" />
        <input type="number" id="offset" />
        <a href="javascript:void(0);" id="firstAnchorTag">click</a>
        <h4>
          You can also search for an image by using <br />
          <code>/api/imagesearch/{searchterm}?offset=10</code>
          <h5>Here offset is the no of results you wish to see.</h5>
        </h4>
      </div>
      <hr />
      <div id="imagessearch">
        Click here to view the recently search images 😉
        <a href="./api/imagesearch" id="secondtag">Click here to search for the recent images</a>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      var inputbox = document.getElementById("inputbox");
      var offset = document.getElementById("offset");
      firstAnchorTag.addEventListener("click", () => {
        console.log("I am here");
        if (inputbox.value) {
                    firstAnchorTag.target = '_blank';

          var redirectLink = `./api/imagesearch/${inputbox.value}?offset=${offset.value}`;
          firstAnchorTag.href = redirectLink;
        } else {
          alert("You cannot perform an empty search");
        }
      });
    </script>
  </body>
</html>
